.section-width {
    max-width: 1400px;
    padding-left: 110px;
    padding-right: 110px;
}

.free-samples--wrapper {
    display: flex;
}

.free-samples--image, .free-samples--body {
    width: 50%;
}

.free-samples--image img {
    width: 100%;
    height: auto;
}

.free-samples--body {
    padding: 0 60px;
}

.free-samples--heading p {
    margin: 0 0 40px 0;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
}

.free-samples--text {
    font-size: 16px;
    line-height: 28px;
}

.free-samples--text ul {
    margin: 0;
}

.number-list ul {
    list-style: none;
    padding-left: 48px;
}