.section-width {
    max-width: 1400px;
    padding-left: 110px;
    padding-right: 110px;
}

.free-samples--wrapper {
    display: flex;
}

.free-samples--image, .free-samples--body {
    width: 50%;
}

.free-samples--image img {
    width: 100%;
    height: auto;
}

.free-samples--body {
    padding: 0 60px;
}

.free-samples--heading p {
    margin: 0 0 40px 0;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
}

.free-samples--text {
    font-size: 16px;
    line-height: 28px;
}

.free-samples--text ul {
    margin: 0;
}

.number-list ul {
    list-style: none;
    padding-left: 0;
}

.number-list li {
    margin-bottom: 16px;
    position: relative;
    padding-left: 48px;
}

.number-list li::before {
    display: flex;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -3px;
    left: 0;
    font-size: 22px;
    line-height: 32px;
    color: #fff;
    background-color: #E04880;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.number-list li:nth-of-type(1):before {
    content: '1';
}

.number-list li:nth-of-type(2):before {
    content: '2';
}

.number-list li:nth-of-type(3):before {
    content: '3';
}

.number-list li:nth-of-type(4):before {
    content: '4';
}

.number-list li:nth-of-type(5):before {
    content: '5';
}

.number-list li::after {
    content: " ";
    display: block;
    position: absolute;
    top: 25px;
    left: 14px;
    width: 3px;
    height: 75px;
    background-color: #e04880;
}

.number-list li:last-of-type:after {
    display: none;
}

.btn {
    padding: 12px;
    background-color: #e04880;
    text-transform: uppercase;
    min-width: 240px;
    color: #fff;
    font-size: 18px;
    line-height: 29px;
    font-weight: 700;
}