.newsletter__wrapper {
  padding-right: 2rem;
  padding-left: 2rem;
}

.newsletter__wrapper h2 {
  text-transform: uppercase;
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2.2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 67rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6rem;
}

.newsletter__subheading p {
  letter-spacing: 0.1px;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 55rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}

.newsletter-form__button {
  padding: 0 35px;
}

.newsletter-form__field-wrapper .field__input::placeholder {
  opacity: 1;
}

.privacy-policy__field {
  text-align: left;
  margin-top: 0.6rem;
}

.privacy-policy__field label {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.privacy-policy__field label a {
  color: #5B5B5F;
}

.privacy-policy__field input {
  width: 15px;
  height: 15px;
}