@font-face {
    font-family: "FinoSans";
    src: url("Fino-Sans-Regular.ttf");
}

@font-face {
    font-family: "MerriweatherSans";
    src: url("MerriweatherSans-Regular.ttf");
}

.upcoming-experience__heading {
    max-width: 450px;
    color: #772337;
    font-family: FinoSans;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

.upcoming-experience__flex {
    display: flex;
}

.upcoming-experience__image, .upcoming-experience__list {
    width: calc(50% - 50px);
}

.upcoming-experience__image {
    margin-left: 40px;
}

.upcoming-experience__list {
    margin-left: 60px;
}