@font-face {
    font-family: "FinoSans";
    src: url("Fino-Sans-Regular.ttf");
}

@font-face {
    font-family: "MerriweatherSans";
    src: url("MerriweatherSans-Regular.ttf");
}

.page-width {
    padding: 0 50px;
    max-width: 1200px;
    margin: 0  auto;
}

@media (max-width: 768px) {
    .page-width {
        padding: 0 28px;
    }
}

.upcoming-experience__heading {
    max-width: 450px;
    color: #772337;
    font-family: FinoSans;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

.upcoming-experience__flex {
    display: flex;
}

.upcoming-experience__image, .upcoming-experience__list {
    width: calc(50% - 50px);
}

.upcoming-experience__image {
    margin-left: 40px;
    position: relative;
}

.upcoming-experience__image-links {
    position: absolute;
    left: -40px;
    top: 0;
    background-color: #FEFAF5;
    padding: 10px 50px 32px 0;
}

.upcoming-experience__list {
    margin-left: 60px;
}

.btn {
    color: #772337;
    font-family: MerriweatherSans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #E19195;
    padding: 0;
    min-width: unset;
    border-radius: 0;
    text-decoration: none;
    background-color: transparent;
}

.upcoming-experience__image-links a:last-of-type {
    margin-left: 24px;
}

.upcoming-experience__item {
    display: flex;
    padding: 16px 0;
    background-color: #ffffff;
    margin-bottom: 24px;
}

.upcoming-experience__item:last-of-type {
    margin-bottom: 0;
}

.upcoming-experience__item-cd {
    padding: 0 24px;
}

.upcoming-experience__item-day {
    color: #772337;
    font-family: FinoSans;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;
    line-height: 1;
}

.upcoming-experience__item-month {
    color: #3E1D25;
    font-family: MerriweatherSans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px; /* 212.5% */
    margin: 0;
    line-height: 1;
}

.upcoming-experience__item-text {
    padding-left: 24px;
}

.upcoming-experience__item-heading {
    color: #772337;
    font-family: MerriweatherSans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 283.333% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

.upcoming-experience__item-body {
    color: #3E1D25;
    font-family: MerriweatherSans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 212.5% */
    margin: 0;
}

.upcoming-experience__item-body p {
    margin: 0;
}

.upcoming-experience__item-link a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upcoming-experience__item-link svg {
    width: 12px;
    height: auto;
}